# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data / artifacts
data/raw/*
data/processed/*
data/external/*

# Models
models/*
!models/*.dvc
!models/.gitkeep

# Keep directory structure
!.gitkeep

# OS / IDE
.DS_Store
.vscode/
.idea/