# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data / artifacts
data/raw/*
data/external/*

# Keep directory structure
!.gitkeep

# OS / IDE
.DS_Store
.vscode/
.idea/
